<%= simple_form_for(@user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user schedule from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h3>User Details</h3>

  <p>
    <%= form.label :'Name'%>
    <%= form.text_field :'name' %>

    <%= form.label :'Email'%>
    <%= form.text_field :'email' %>

    <%= form.label :'Resume'%>
    <%= form.file_field :resume %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
