<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>WELCOME !<%= @name %> (<%= @email %>)</h1>
    <p>
      <%= @message %>

      Date: <%= @date %><br>
      Start Time: <%= @start_time %><br>
      End TIme: <%= @end_time %>
    </p>
  </body>
</html>